.navbar {
  background-color: #121212;
}

.navbar-title {
  color: white;
}

.navbar-brand {
  width: 100%;
  justify-content: space-between
}

.doc {
  max-width: 65%;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  color: #42d3a5;
  font-weight: 500;
}

footer.footer {
  padding: 1rem;
}
