<header class="header" role="banner">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
                {{site.title}}
            </a>
            <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
              <img alt="codecentric Logo" width="150px" src="{{uiRootPath}}/img/cc_logo.svg"/>
            </a>
        </div>
    </nav>
</header>
